
# MAADS Docker image
MAADS_IMAGE=maadsdocker/maads-batch-automl-otics:latest

# Service ports (used by notebooks)
MAADS_HOST=http://127.0.0.1
MAADS_TRAINING_PORT=5595
MAADS_PREDICTION_PORT=5495

# MAADS Auth
MAADS_USERNAME=admin
MAADS_PASSWORD=123
MAADS_TOKEN=123
MAADS_COMPANY=COMPANY
MAADS_EMAIL=your@email.com

# Local MAADS workspace
MAADS_ROOT=maads_service
MAADS_CSVUPLOADS=maads_service/csvuploads
OUTPUT_DIR=maads_service/prediction_runs
HOLDOUT_CSV=maads_service/csvuploads/maads_holdout_binary.csv

# Evaluation knobs
PRED_THRESHOLD=0.45
MAX_ROWS_TO_SCORE=1000
SLEEP_SEC_BETWEEN_CALLS=0

# Feature configuration
DROP_FEATURES=new_country,transactionamount,high_amount,channel_ATM,mcc_risk_high,accountbalance
